@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #004AAD;
  --brand-secondary: #003566;
}

.brand-gradient {
  background: linear-gradient(to right, var(--brand-primary), var(--brand-secondary));
} 